* {
  transition: all 0.25s cubic-bezier(0.25, 1, 0.33, 1);
}

body.preload * {
  transition: none !important;
}


html { 
  scroll-behavior: smooth;
 }

nav a {
  position: relative;
  padding-bottom: 4px;
}

nav a:hover {
  color: #ff2a2a;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #ff2a2a;
  box-shadow: 0 0 14px rgba(255, 0, 0, 0.7);
  transition: all 0.35s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}

button {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 15px 30px rgba(255, 0, 0, 0.45);
}

.card-hover {
  transition: all 0.45s cubic-bezier(0.22, 1, 0.36, 1);
  border-radius: 14px;
}

.card-hover:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0px 18px 45px rgba(255, 0, 0, 0.32);
}


.gallery-box {
  transition: all 0.4s ease;
}

.gallery-box:hover {
  transform: scale(1.07);
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.4);
}

input:focus,
textarea:focus {
  transform: scale(1.03);
  box-shadow: 0 0 22px rgba(255, 0, 0, 0.6);
  outline: none;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(6px);
  transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.show {
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0);
}

.delay-1 { transition-delay: 0.15s; }
.delay-2 { transition-delay: 0.3s; }
.delay-3 { transition-delay: 0.45s; }
.delay-4 { transition-delay: 0.6s; }
